.page2 {
    text-align: left;
    width: 100%;
  } 
.page2-header {
    min-height: 100vh;
    padding: 2vmin;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(2vmin + 1.5vmin);
    color: #000;
    margin-left: 1vmin;
  }

  .page2-logo{
    height: 57vmin;
    pointer-events: none;
    margin: 2vmin;
  }
  .page2-title{
    font-size: 3.5vmin; 
    font-weight: bold;
    color: #fff;
  }
  .page2-content{
    font-size: 2.3vmin; 
    color: #f1f1f1;
    font-weight: bold;
  }
  .page2-content2{
    font-size: 2.3vmin; 
    color: #ddd;
    font-weight: lighter;
  }

  @media only screen and (max-width: 600px) {
    .page2-header {
      flex-direction: column;
    }
    .page2-title{
      font-size: 5.2vmin; 
      font-weight: bold;
    }
    .page2-content{
      font-size: 3.4vmin; 
      font-weight: bolder;
    }
    .page2-content2{
      font-size: 3.2vmin; 
      font-weight:bold;
    }
    .page2-logo{
      height: 70vmin;
    }
  }
  
  @media only screen and (max-width: 950px) and (min-width: 601px){
    .page2{
      text-align: center;
    }
    .page2-header {
      flex-direction: column;
    }
  }

  
  